.flex-container {
  display: flex;
  width: 100%;
}
.row {
  flex-direction: row;
}
.col-wt {
  background-color: whitesmoke;
  padding: 5%;
}
.col-blk {
  background-color: midnightblue;
  color: royalblue;
  padding: 5%;
}
